{% extends 'base.html.twig' %}
{% block body %}  

<div class="image-container">
<img src="{{asset('image/bg.jpg')}}" height="500" width="1360" >

 <div class="text-overlay">Welcome to ACS</div>
 </div>

{% endblock %}