{% extends 'base.html.twig' %}

{% block body %}
	<div style="margin: 50px 0 0 500px;">
		<h3>Page not found 404</h3>

		<p>
			The requested page couldn't be located.
			<a href="{{ path('index') }}">return to the homepage</a>.
		</p>
	</div>
{% endblock %}
